.tile {
  width: 360px;
  padding: 10px 15px;
  box-shadow: 0 0 4px rgb(32, 29, 48);
  margin-top: 35px;

  .image {
    width: 100%;

    img {
      width: 100%;
      max-height: 330px;
    }
  }

  .description {
    padding: 10px 0;
    font-size: 22px;

    .countBlock {
      margin-top: 20px;
      .addBtn {
        width: 160px;
      }
      .count {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 160px;
        button {
          padding: 6px 15px;
          min-width: auto;
        }
        span {
          margin: 0 10px;
        }
      }
    }

    .bottomBlock {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 15px;

      .rating {
        font-weight: 600;
        svg {
          color: gold;
        }
      }

      .price {
        font-weight: 600;
      }
    }
  }
}
